/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login form styles */
.login-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.login-form h2 {
    color: #333;
}

/* Form input styles */
.form-group {
    margin: 10px 0;
    text-align: left;
    width: 98%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Button styles */
.button-group {
    margin-top: 20px;
}

.login-button {
    background-color: #4CAF50; /* Green */
    color: #fff;
    width: 100%;
    padding: 10px 110px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-button {
    background-color: #FF5733; /* Red */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Button hover effect */
.login-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.cancel-button:hover {
    background-color: #e63900; /* Darker red on hover */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold; /* Add bold font-weight to labels */
}
